<style>
  .data-table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 0.875rem;
  }

  .data-table td,
  .data-table th {
    border: 1px solid #000;
    padding: 0.625rem;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
  }

  .data-table th {
    font-weight: bold;
  }

  .data-table a {
    color: #167df0;
    text-decoration: none;
  }

  .data-table a:hover {
    text-decoration: underline;
  }
</style>

<table class="data-table">
  <thead>
    <tr>
      <th>Miasto</th>
      <th>Organizatorzy</th>
      <th>Warsztaty</th>
      <th>Link do zapisów</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Warszawa</td>
      <td>
        <a href="https://www.linkedin.com/in/piotrwachulec/" target="_blank" rel="noopener noreferrer">Piotr
          Wachulec</a><br>
        <a href="https://www.linkedin.com/in/maciej-misztal-bb424221/" target="_blank" rel="noopener noreferrer">Maciej
          Misztal</a><br>
        <a href="https://www.linkedin.com/in/bartosz-rozanski2/" target="_blank" rel="noopener noreferrer">Bartosz
          Różański</a><br>
        <a href="https://www.linkedin.com/in/karol-pieciukiewicz/" target="_blank" rel="noopener noreferrer">Karol
          Pieciukiewicz</a>
      </td>
      <td>
        1. Bicep - from zero to hero<br>
        2. Infrastructure as code with Pulumi<br>
        3. Terraform & Azure
      </td>
      <td>
        1. <a href="https://www.eventbrite.com/e/865870290347?aff=oddtdtcreator" target="_blank"
          rel="noopener noreferrer">Zapisz się - Bicep</a><br>
        2. <a href="https://www.eventbrite.com/e/881196752207?aff=oddtdtcreator" target="_blank"
          rel="noopener noreferrer">Zapisz się - Pulumi</a><br>
        3. <a
          href="https://www.eventbrite.com/e/global-azure-poland-2024-warszawa-warsztat-terraform-tickets-881197674967"
          target="_blank" rel="noopener noreferrer">Zapisz się - Terraform</a><br>
      </td>
    </tr>
    <tr>
      <td>Wrocław</td>
      <td>
        <a href="https://www.linkedin.com/in/rogalapiotr/" target="_blank" rel="noopener noreferrer">Piotr
          Rogala</a><br>
        <a href="https://www.linkedin.com/in/michalmjankowski/" target="_blank" rel="noopener noreferrer">Michał
          Jankowski</a>
      </td>
      <td>Start your journey with a Decentralized Identity. Create the first Verifiable Credential with the Entra
        Verified
        ID</td>
      <td>
        <a href="https://www.eventbrite.com/e/global-azure-2024-wrocaw-workshop-on-site-tickets-843084216587?utm-campaign=social&utm-content=attendeeshare&utm-medium=discovery&utm-term=listing&utm-source=cp&aff=ebdsshcopyurl"
          target="_blank" rel="noopener noreferrer">Zapisz się</a>
      </td>
    </tr>
    <tr>
      <td>Łódź</td>
      <td>
        <a href="https://www.linkedin.com/in/%E2%98%81%F0%9F%94%92-andrzej-kokocinski-39024832/" target="_blank"
          rel="noopener noreferrer">Andrzej Kokociński</a>
      </td>
      <td>
        1. Migracja do Cloud oraz elementy bezpieczeństwa<br>
        2. Kilka aspektów, o których warto pamiętać projektując konfigurację aplikacji uruchamianych na klastrze AKS w
        Azure
      </td>
      <td>
        1. <a href="https://www.eventbrite.com/e/global-azure-odz-warsztat-1-tickets-879710857857" target="_blank"
          rel="noopener noreferrer">Zapisz się - migracja</a><br>
        2. <a href="https://www.eventbrite.com/e/global-azure-odz-workshop-2-tickets-879715933037" target="_blank"
          rel="noopener noreferrer">Zapisz się - AKS</a>
      </td>
    </tr>
    <tr>
      <td>Kraków</td>
      <td>
        <a href="https://www.linkedin.com/in/dominikskowron007/" target="_blank" rel="noopener noreferrer">Dominik
          Skowron</a>
      </td>
      <td>Wprowadzenie do Azure</td>
      <td>
        <a href="https://www.eventbrite.com/e/global-azure-2024-krakow-workshop-on-site-wprowadzenie-do-azure-tickets-880021085757?utm-campaign=social&utm-content=attendeeshare&utm-medium=discovery&utm-term=listing&utm-source=cp&aff=ebdsshcopyurl"
          target="_blank" rel="noopener noreferrer">Zapisz się!</a>
      </td>
    </tr>
    <tr>
      <td>Gdańsk</td>
      <td>
        <a href="https://www.linkedin.com/in/pawelsiwek/" target="_blank" rel="noopener noreferrer">Paweł
          Siwek</a>
      </td>
      <td>Wprowadzenie do chmury Microsoft Azure dla programistów</td>
      <td>
        <a href="https://www.eventbrite.com/e/wprowadzenie-do-chmury-microsoft-azure-dla-programistow-tickets-861127725207"
          target="_blank" rel="noopener noreferrer">Zapisz się!</a>
      </td>
    </tr>
    <tr>
      <td>Rzeszów</td>
      <td>
        <a href="https://www.linkedin.com/in/ACoAAA3mXhkBbUk3lrRvQnZJ-3vHu8Oz5LMuHLs?lipi=urn%3Ali%3Apage%3Ad_flagship3_detail_base%3BXd7tppoyQomARvzL21IiMA%3D%3D"
          target="_blank" rel="noopener noreferrer">Michał Machniak</a><br><a
          href="https://www.linkedin.com/in/maciejskuratowski/" target="_blank" rel="noopener noreferrer">Maciej
          Skuratowski</a>
      </td>
      <td>Wprowadzanie do „Infrastructure as Code” w Azure z wykorzystaniem Microsoft bicep. Jak napisać swój pierwszy
        szablon</td>
      <td>
        <a href="https://www.eventbrite.com/e/wprowadzanie-do-infrastructure-as-code-w-azure-z-wykorzystanie-microsoft-bicep-jak-napisac-swoj-p-tickets-876288170507?utm-campaign=social&utm-content=attendeeshare&utm-medium=discovery&utm-term=listing&utm-source=cp&aff=ebdsshcopyurl"
          target="_blank" rel="noopener noreferrer">Zapisz się!</a>
      </td>
    </tr>
  </tbody>
</table>