<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    .tg {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<table class="tg">
    <thead>
        <tr>
            <th class="tg-0pky">Miasto</th>
            <th class="tg-0pky">Organizatorzy</th>
            <th class="tg-0pky">Warsztaty</th>
            <th class="tg-0pky">Link do zapisów</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-0pky">Warszawa</td>
            <td class="tg-0pky">Piotr Wachulec<br>Maciej Misztal<br>Bartosz Różański</td>
            <td class="tg-0pky">1. Bicep - from zero to hero<br>2. TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
        <tr>
            <td class="tg-0pky">Wrocław</td>
            <td class="tg-0pky">Piotr Rogala<br>Michał Jankowski</td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
        <tr>
            <td class="tg-0pky">Łódź</td>
            <td class="tg-0pky">Andrzej Kokociński</td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
        <tr>
            <td class="tg-0pky">Kraków</td>
            <td class="tg-0pky">Dominik Skowron</td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
        <tr>
            <td class="tg-0pky">Gdańsk</td>
            <td class="tg-0pky">Paweł Siwek</td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
        <tr>
            <td class="tg-0pky">Rzeszów</td>
            <td class="tg-0pky">Michał Machniak<br>Maciej Skuratowski</td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
        <tr>
            <td class="tg-0pky">Białystok</td>
            <td class="tg-0pky">Marcin Iwanowski</td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
        <tr>
            <td class="tg-0pky">Poznań</td>
            <td class="tg-0pky">Sławomir Stanek<br>Artur Molendowski</td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
    </tbody>
</table>