<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    .tg {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<table class="tg">
    <thead>
        <tr>
            <th class="tg-0pky">Miasto</th>
            <th class="tg-0pky">Organizatorzy</th>
            <th class="tg-0pky">Warsztaty</th>
            <th class="tg-0pky">Link do zapisów</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-0pky">Warszawa</td>
            <td class="tg-0pky"><a href="https://www.linkedin.com/in/piotrwachulec/" target="_blank">Piotr Wachulec</a><br><a href="https://www.linkedin.com/in/maciej-misztal-bb424221/" target="_blank">Maciej Misztal</a><br><a href="https://www.linkedin.com/in/bartosz-r%C3%B3%C5%BCa%C5%84ski/" target="_blank">Bartosz Różański</a></td>
            <td class="tg-0pky">1. Bicep - from zero to hero<br>2. TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
        <tr>
            <td class="tg-0pky">Wrocław</td>
            <td class="tg-0pky"><a href="https://www.linkedin.com/in/rogalapiotr/" target="_blank">Piotr Rogala</a><br><a href="https://www.linkedin.com/in/michalmjankowski/" target="_blank">Michał Jankowski</a></td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky"><a href="https://www.eventbrite.com/e/global-azure-2024-wrocaw-workshop-on-site-tickets-843084216587" target="_blank">Zapisz się!</a></td>
        </tr>
        <tr>
            <td class="tg-0pky">Łódź</td>
            <td class="tg-0pky"><a href="https://www.linkedin.com/in/%E2%98%81%F0%9F%94%92-andrzej-kokocinski-at-ey-39024832/" target="_blank">Andrzej Kokociński</a></td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
        <tr>
            <td class="tg-0pky">Kraków</td>
            <td class="tg-0pky"><a href="https://www.linkedin.com/in/dominikskowron007/" target="_blank">Dominik Skowron</a></td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
        <tr>
            <td class="tg-0pky">Gdańsk</td>
            <td class="tg-0pky"><a href="https://www.linkedin.com/in/pawelsiwek/" target="_blank">Paweł Siwek</a></td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
        <tr>
            <td class="tg-0pky">Rzeszów</td>
            <td class="tg-0pky"><a href="https://www.linkedin.com/in/michal-machniak/" target="_blank">Michał Machniak</a><br><a href="https://www.linkedin.com/in/maciejskuratowski/" target="_blank">Maciej Skuratowski</a></td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
        <tr>
            <td class="tg-0pky">Białystok</td>
            <td class="tg-0pky"><a href="https://www.linkedin.com/in/marcin-iwanowski-68877512/" target="_blank">Marcin Iwanowski</a></td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
        <tr>
            <td class="tg-0pky">Poznań</td>
            <td class="tg-0pky"><a href="https://www.linkedin.com/in/slawomirstanek/" target="_blank">Sławomir Stanek</a><br><a href="https://www.linkedin.com/in/artur-molendowski/" target="_blank">Artur Molendowski</a></td>
            <td class="tg-0pky">TBA</td>
            <td class="tg-0pky">TBA</td>
        </tr>
    </tbody>
</table>